p, h3, h2, h1, h4, h5, a{
     display:inline;
}
table.listado {
	width:100%;
	text-align:left;
}

table.listado th {
	background: #e1e1e1;
	text-align:center;
}

table.listado td {
	padding: 3px;
	width:100px;
	border:1px solid #e1e1e1;

}

table.listado tbody tr:hover {
	background-color:#e1e1e1;
	color:#336699;
}

table._listado {
	width:100%;
	text-align:left;
}

table._listado th {
	border:1px solid #BDBDBD;
	text-align:center;
}

table._listado td {
	padding: 3px;
	width:100px;
	border:1px solid #BDBDBD;

}

div.contenido form{
	width:100%
}
div.contenido form table{
	padding:10px;
	border-spacing:5px;
	width:100%;
}

div.contenido form table.filtros{
	padding:3px;
	border-spacing:3px;
	width:80%;
}

div.main table tr td:first-child{
	width:20%;
}

div.contenido form table a:hover{
	color:gray;
	text-decoration:none;
}

div.contenido form table a:link, div.contenido form table a:visited{
	color:#336699;
	text-decoration:none;
}




div.main {
	width:90%;
	margin:0 auto;
	padding:20px;
	border:1px solid #91a4b5;
	background-color:white;
	min-height:768px;
}

/* ------------------------------*/
table.list {
	width:95%;
	text-align:left;
	text-align:center;	
	margin-bottom:10px;
}

table.list th {
	text-align:center;
		background: #e1e1e1;
}

table.list td {
	padding: 3px;
	text-align:center;	
	width:100px;
	border:1px solid #e1e1e1;	
}
