<?xml version="1.0" encoding="utf-8"?>
<configuration>
	
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="Service1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
                <binding name="Service1Soap121">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.10.27:8777/ServiceGateway.asmx"
                binding="basicHttpBinding" bindingConfiguration="Service1Soap"
                contract="ServiceReference1.Service1Soap" name="Service1Soap" />
            <!--<endpoint address="http://192.168.10.27:8777/ServiceGateway.asmx"
                binding="customBinding" bindingConfiguration="Service1Soap121"
                contract="ServiceReference1.Service1Soap" name="Service1Soap12" />-->
        </client>
		
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
